{%extends "main/base.html" %}

{% block content %}
  <div class="max-w-4xl mx-auto py-8 px-4 sm:px-8 text-center">
    <h1 class="text-3xl font-bold mb-6" style="color: {% if dark_mode_enabled %}{{ dark_blog_heading_text_color }}{% else %}{{ light_blog_heading_text_color }}{% endif %}">Blog</h1>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 justify-center">
      {% for post in page_obj %}
        <article class="rounded-lg shadow p-6 mx-auto mb-6" style="background-color: var(--socialmedia-bg); color: var(--socialmedia-text);">
          <h2 class="text-2xl font-semibold mb-2">
            <a href="{{ post.get_absolute_url }}" class="text-blue-400 hover:text-blue-600">{{ post.title }}</a>
          </h2>
          <p class="mb-4">{{ post.published_date|date:"F j, Y" }}</p>
          {% if post.image %}
            <img src="{{ post.image.url }}" alt="{{ post.title }}" class="mb-4 rounded mx-auto" style="display: block;">
          {% endif %}
          <p>{{ post.content|truncatewords:40 }}</p>
          <a href="{{ post.get_absolute_url }}" class="text-blue-500 hover:underline mt-2 inline-block">Read more</a>
        </article>
      {% empty %}
        <p class="text-white">No blog posts found.</p>
      {% endfor %}
    </div>

    <div class="mt-8">
      <nav class="flex justify-center space-x-4">
        {% if page_obj.has_previous %}
          <a href="?page={{ page_obj.previous_page_number }}" class="px-3 py-1 bg-blue-600 text-white rounded hover:bg-blue-700">Previous</a>
        {% endif %}
        {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}" class="px-3 py-1 bg-blue-600 text-white rounded hover:bg-blue-700">Next</a>
        {% endif %}
      </nav>
    </div>
  </div>
{% endblock %}
