{% extends "main/base.html" %}

{% block title %}Rust RP Server Info{% endblock %}

{% block content %}
<div class="text-center">
  <h1 class="mb-4">Informationen über unseren Rust RP Server</h1>

  <p class="mb-4">Willkommen auf unserem Rust RP Server! Hier findest du alle wichtigen Informationen, um erfolgreich in die Welt des Rollenspiels einzutauchen.</p>

  <ul class="mb-6 list-disc list-inside space-y-2 inline-block text-left">
    <li>Server IP: 123.456.789.0</li>
    <li>Spielmodus: Roleplay</li>
    <li>Community-Regeln: Bitte respektiere andere Spieler und halte dich an die Serverregeln.</li>
    <li>Support: Bei Fragen oder Problemen wende dich an unser Support-Team.</li>
  </ul>
</div>
{% endblock %}
