{% extends "main/base.html" %}

{% block title %}Server Regeln{% endblock %}

{% block content %}
<div class="text-center">
  <h1 class="mb-4">Server Regeln</h1>

  <p class="mb-4">Bitte halte dich an die folgenden Regeln, um ein faires und angenehmes Spielerlebnis für alle zu gewährleisten:</p>

  <ul class="mb-6 list-disc list-inside space-y-2 inline-block text-left">
    <li>Kein Cheating oder Exploiting.</li>
    <li>Respektiere andere Spieler und deren Spielweise.</li>
    <li>Keine Beleidigungen oder diskriminierendes Verhalten.</li>
    <li>Rollenspiel ist Pflicht, Meta-Gaming ist verboten.</li>
    <li>Folge den Anweisungen der Server-Admins und Moderatoren.</li>
  </ul>
</div>
{% endblock %}
