{% extends "main/base.html" %}

{% block title %}Kontakt{% endblock %}

{% block content %}
<div class="max-w-3xl mx-auto px-4 py-8 text-center">
  <h1 class="text-3xl font-bold mb-6">Kontakt</h1>

  <p class="mb-4">Wenn Sie Fragen haben oder mit uns in Kontakt treten möchten, können Sie uns über die folgenden Wege erreichen:</p>

  <ul class="mb-6 list-disc list-inside space-y-2 text-left inline-block">
    <li>Telefon: +491746572234</li>
    <li>E-Mail: support@gamingbaeren.de</li>
    <li>Adresse: Kirchstraße 2, 37276 Meinhard, Deutschland</li>
  </ul>

  <p class="mb-4">Alternativ können Sie das folgende Kontaktformular verwenden:</p>

</div>
{% endblock %}
