<nav class="fixed top-0 left-0 right-0 z-50" style="background-color: {% if dark_mode_enabled %}{{ dark_navbar_bg }}{% else %}{{ light_navbar_bg }}{% endif %}; color: {% if dark_mode_enabled %}{{ dark_navbar_text }}{% else %}{{ light_navbar_text }}{% endif %}; border-bottom: 1px solid {% if dark_mode_enabled %}{{ dark_navbar_text }}{% else %}{{ light_navbar_text }}{% endif %};">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex items-center justify-between h-16">
    <div class="flex items-center space-x-4">
      <a href="{% url 'home' %}" class="text-purple-400 font-bold text-lg hover:text-purple-500">GamingBaeren.de</a>
      <a href="{% url 'home' %}" class="hover:text-white">Home</a>

      <a href="{% url 'shop:home' %}" class="hover:text-white">Shop</a>

      <div class="relative group">
        <button class="hover:text-white flex items-center space-x-1 focus:outline-none">
          <span>Image Upload</span>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 ml-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
          </svg>
        </button>
        <div class="absolute left-0 mt-2 w-48 rounded-md shadow-lg py-1 z-50 hidden group-hover:block" style="background-color: {% if dark_mode_enabled %}{{ dark_navbar_bg }}{% else %}{{ light_navbar_bg }}{% endif %}; color: {% if dark_mode_enabled %}{{ dark_navbar_text }}{% else %}{{ light_navbar_text }}{% endif %};">
          <a href="{% url 'imageupload:how_it_works' %}" class="block px-4 py-2 text-sm text-gray-300 hover:bg-gray-700 hover:text-white">How it works</a>
          <a href="{% url 'imageupload:upload_image' %}" class="block px-4 py-2 text-sm text-gray-300 hover:bg-gray-700 hover:text-white">Upload Image</a>
        </div>
      </div>

      <div class="relative group">
        <button class="hover:text-white flex items-center space-x-1 focus:outline-none">
          <span>Rust RP Server</span>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 ml-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
          </svg>
        </button>
        <div class="absolute left-0 mt-2 w-56 rounded-md shadow-lg py-1 z-50 hidden group-hover:block" style="background-color: {% if dark_mode_enabled %}{{ dark_navbar_bg }}{% else %}{{ light_navbar_bg }}{% endif %}; color: {% if dark_mode_enabled %}{{ dark_navbar_text }}{% else %}{{ light_navbar_text }}{% endif %};">
          <a href="{% url 'rust_info' %}" class="block px-4 py-2 text-sm text-gray-300 hover:bg-gray-700 hover:text-white">Info</a>
          <a href="{% url 'rust_server_rules' %}" class="block px-4 py-2 text-sm text-gray-300 hover:bg-gray-700 hover:text-white">Server Regeln</a>
          <a href="{% url 'rust_ingame_laws' %}" class="block px-4 py-2 text-sm text-gray-300 hover:bg-gray-700 hover:text-white">Ingame Gesetze</a>
        </div>
      </div>

      <div class="relative group">
        <button class="hover:text-white flex items-center space-x-1 focus:outline-none">
          <span>Social Media</span>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 ml-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
          </svg>
        </button>
        <div class="absolute left-0 mt-2 w-48 rounded-md shadow-lg py-1 z-50 hidden group-hover:block" style="background-color: {% if dark_mode_enabled %}{{ dark_navbar_bg }}{% else %}{{ light_navbar_bg }}{% endif %}; color: {% if dark_mode_enabled %}{{ dark_navbar_text }}{% else %}{{ light_navbar_text }}{% endif %};">
          <a href="{% url 'socialmedia:socialmedia_main' %}" class="block px-4 py-2 text-sm text-gray-300 hover:bg-gray-700 hover:text-white">Social Media Links</a>
          <a href="{% url 'socialmedia:blog_list' %}" class="block px-4 py-2 text-sm text-gray-300 hover:bg-gray-700 hover:text-white">Blog</a>
        </div>
      </div>

      {% comment %} <a href="{% url 'imageupload:index' %}" class="hover:text-white">ImageUpload</a>
      <a href="{% url 'rust:index' %}" class="hover:text-white">Rust</a> {% endcomment %}
    </div>

    <div class="relative">
      <button id="homeBtn" aria-expanded="false" class="flex items-center space-x-1 hover:text-white focus:outline-none">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 17.804A13.937 13.937 0 0112 15c2.5 0 4.847.75 6.879 2.034M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
        </svg>
        <span>{% if user.is_authenticated %}{{ user.username }}{% else %}Login{% endif %}</span>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 ml-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
        </svg>
      </button>

      <div style="display: none;" class="absolute right-0 mt-2 w-48 rounded-md shadow-lg py-1 z-50" style="background-color: {% if dark_mode_enabled %}{{ dark_navbar_bg }}{% else %}{{ light_navbar_bg }}{% endif %}; color: {% if dark_mode_enabled %}{{ dark_navbar_text }}{% else %}{{ light_navbar_text }}{% endif %};">
      {% if user.is_authenticated %}
          <a href="{% url 'profile' %}" class="block px-4 py-2 text-sm" style="color: {% if dark_mode_enabled %}{{ dark_navbar_text }}{% else %}{{ light_navbar_text }}{% endif %}; background-color: transparent;" onmouseover="this.style.backgroundColor='{% if dark_mode_enabled %}{{ dark_navbar_text }}{% else %}{{ light_navbar_text }}{% endif %}'; this.style.color='{% if dark_mode_enabled %}{{ dark_navbar_bg }}{% else %}{{ light_navbar_bg }}{% endif %}';" onmouseout="this.style.backgroundColor='transparent'; this.style.color='{% if dark_mode_enabled %}{{ dark_navbar_text }}{% else %}{{ light_navbar_text }}{% endif %}';">My Profile</a>
          <a href="{% url 'settings' %}" class="block px-4 py-2 text-sm" style="color: {% if dark_mode_enabled %}{{ dark_navbar_text }}{% else %}{{ light_navbar_text }}{% endif %}; background-color: transparent;" onmouseover="this.style.backgroundColor='{% if dark_mode_enabled %}{{ dark_navbar_text }}{% else %}{{ light_navbar_text }}{% endif %}'; this.style.color='{% if dark_mode_enabled %}{{ dark_navbar_bg }}{% else %}{{ light_navbar_bg }}{% endif %}';" onmouseout="this.style.backgroundColor='transparent'; this.style.color='{% if dark_mode_enabled %}{{ dark_navbar_text }}{% else %}{{ light_navbar_text }}{% endif %}';">Settings</a>
          {% if user.is_staff %} 
          <a href="{% url 'admin:index' %}" class="block px-4 py-2 text-sm" style="color: {% if dark_mode_enabled %}{{ dark_navbar_text }}{% else %}{{ light_navbar_text }}{% endif %}; background-color: transparent;" onmouseover="this.style.backgroundColor='{% if dark_mode_enabled %}{{ dark_navbar_text }}{% else %}{{ light_navbar_text }}{% endif %}'; this.style.color='{% if dark_mode_enabled %}{{ dark_navbar_bg }}{% else %}{{ light_navbar_bg }}{% endif %}';" onmouseout="this.style.backgroundColor='transparent'; this.style.color='{% if dark_mode_enabled %}{{ dark_navbar_text }}{% else %}{{ light_navbar_text }}{% endif %}';">Admin Site</a>
          {% endif %}
          <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" class="w-full text-left px-4 py-2 text-sm text-red-500 hover:bg-gray-700 hover:text-red-600">Logout</button>
          </form>
        {% else %}
          <a href="{% url 'login' %}" class="block px-4 py-2 text-sm" style="color: {% if dark_mode_enabled %}{{ dark_navbar_text }}{% else %}{{ light_navbar_text }}{% endif %}; hover:bg-gray-700 hover:text-white;">Login</a>
          <a href="{% url 'register' %}" class="block px-4 py-2 text-sm" style="color: {% if dark_mode_enabled %}{{ dark_navbar_text }}{% else %}{{ light_navbar_text }}{% endif %}; hover:bg-gray-700 hover:text-white;">Register</a>
        {% endif %}
      </div>
    </div>
</nav>

<script>
  // Close dropdowns when clicking outside
  document.addEventListener('click', function(event) {
    const dropdowns = document.querySelectorAll('nav div.relative');
    dropdowns.forEach(dropdown => {
      if (!dropdown.contains(event.target)) {
        const menu = dropdown.querySelector('div[style]');
        if (menu) {
          menu.style.display = 'none';
        }
      }
    });
  });

  // Toggle dropdown menus on button click
  const dropdownButtons = document.querySelectorAll('nav div.relative > button');
  dropdownButtons.forEach(button => {
    button.addEventListener('click', function(event) {
      event.stopPropagation();
      const menu = this.nextElementSibling;
      if (menu.style.display === 'block') {
        menu.style.display = 'none';
      } else {
        menu.style.display = 'block';
      }
    });
  });

</script>
