{% extends 'main/base.html' %}

{% block title %}Settings - GamingBaeren.de{% endblock %}

{% block content %}
<div class="max-w-3xl mx-auto px-4 py-12">
  <h1 class="text-3xl font-bold mb-6">Einstellungen</h1>
  <form method="post" class="bg-gray-800 rounded-lg p-6 shadow-md text-gray-300 space-y-4">
    {% csrf_token %}
    <div class="space-y-4">
      {% for field in form %}
        <div>
          {{ field.label_tag }}
          {{ field}}
          {% if field.help_text %}
            <p class="text-sm text-gray-400">{{ field.help_text }}</p>
          {% endif %}
          {% for error in field.errors %}
            <p class="text-sm text-red-500">{{ error }}</p>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
    <a href="{% url 'password_change' %}" class="text-purple-400 hover:text-purple-600 underline">
      Passwort ändern
    </a>
    <button type="submit" class="bg-purple-600 hover:bg-purple-700 text-white font-semibold py-2 px-4 rounded">
      Speichern
    </button>
  </form>
</div>
{% endblock %}
